.container {
    flex-direction: row;
}
.google{
    float: left;
  
}
.nav {
    padding: 20px;   
}
 .nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    float:right;
}

.nav li {
    display: block;
    padding: 5px 5px;
    background-color: white;
}
li a {
    text-decoration: none;
}
.homevid {
    height: 200px;
}